{% extends 'AppServerBundle::base.html.twig' %}

{% block content -%}
    <h1>Depot\Repository</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ entity.path }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Branching</th>
                <td>{{ entity.branching }}</td>
            </tr>
            <tr>
                <th>Deployinfo</th>
                <td>{{ entity.deployInfo }}</td>
            </tr>
            <tr>
                <th>Deploymethod</th>
                <td>{{ entity.deployMethod }}</td>
            </tr>
            <tr>
                <th>Repo</th>
                <td>{{ entity.repo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_depot') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_depot_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
